PORT=3000
# mongodb only used when we enable docker compose 
MONGO_URI=mongodb://mongodb:27017/chromawalk 
JWT_SECRET=change-me-to-a-random-string
GOOGLE_CLIENT_ID=GET_FROM_ADMIN 
GOOGLE_VISION_KEY=GET_FROM_ADMIN